{% load static %}

<link rel="stylesheet" href="{% static 'css/profile/style.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<a href={% url "home" %}><img id="back" src={% static "media/profile/back.svg"%}></a>
<a href={% url "home"%}><img id="profile" src={% static "media/profile/profile.svg"%}></a>
<img id="person" src={% static "media/profile/person.svg"%}>

<div class="profile">
    <h1>{{ user.username }}</h1>
    <p>{{ user.email }}</p>
    <p>{{ user.date_of_birth }}</p>
    <p>{{ user.health_card }}</p>
</div>





<footer class="footer">
    <div class="images-footer">
        <a><img src="{% static 'media/footer/people_meddybuddy.svg' %}" alt="Family"></a>
        <a><img src="{% static 'media/footer/SOS_meddybuddy.svg' %}" alt="SOS"></a>
    </div>
    <a href="{% url 'users:logout'%}">Logout</a>

    <p> &copy; 2024 MeddyBuddy</p>

</footer>

