html, body {
    height: 100%; 
    margin: 0; 
}

.navbar .login,
.navbar .register {
    display: none; 
}

#login {
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    text-align: center; 
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    transform: translateY(-20px);
    gap: -50px;
}

.profile_img {
    width: 100px; 
    height: auto; 
    margin-right: 100px;
}

h2 {
    margin: 0; 
    flex: 1; 
    text-align: left;
    font-size: 40px; 
}

.wrapper {
    padding: 75px;
    margin-top: 300px;
    width: 900px; 
    background-color: #D9D9D9;
    margin: auto;
    transform: translateY(-50px);
    border-radius: 40px;
    border: 1px solid black;
    box-sizing: border-box; 
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
    outline: none;
    border: 2px solid #00796B;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    color: black;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
}

.button-container {
    display: flex; 
    justify-content: center;
    margin-top: 20px; 
}

.button-container button,
.button-container input {
    margin: 0 10px; 
    padding: 15px 30px;
    border-radius: 40px;
    border: 2px solid #50E3C2;
    background-color: #D9D9D9;
    cursor: pointer; 
    font-size: 18px; 
    color: #00796B; 
    width: auto; 
}

.button-container button:hover,
.button-container input:hover {
    background-color: #50E3C2; 
    color: #00796B; 
    border: 2px solid #00796B;
}

#background{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden; 
}