{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/editmedication.css' %}">
<div class="edit-cont">    
    <div class="container">
        <h1>Edit Medication</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }} 
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{% url 'medication_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>    
{% endblock %}