{% extends "base.html" %}


{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/addmedication.css' %}">
<div class="add-cont">
    <div class="container">
        <h1>Add Medication</h1>    
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit"><img class="add-btn" src="{% static 'media/add_meds.svg' %}" alt="add"></button>
        </form>
    </div>
</div>
{% endblock %}
