*{
    margin: 0;
    padding: 0;
}

#back{
    position: absolute;
    top: 5vh;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile{
    position: absolute;
    top: 2vh;
    left: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#person{
    position: absolute;
    top: 10vh;
    left: 43vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    background-color: #d9d9d9;
    position: absolute;
    margin: 38vh 39.5vw;
    border-radius: 20px;
}