@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Lexend:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 10px;
    
}
.navbar ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 250px;
    position: absolute;
    right: 8vw;
    
    
}

.navbar a{
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
}

.nav-logo{
    display: flex;
    margin: 1vh 8vw;
    width: 12vw;
    height: 8vh;
    
}

.hero{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 680px;
    padding: 2rem 0;
    text-align: center
}

.hero h1{
    font-family: Bitter, serif;
    font-weight: 500;
    text-decoration: none;
    font-size: clamp(36px, 3.6vw, 61px);;
}

p{
    color: #595959, #555;
    font-family: Lexend, sans-serif;
    font-size: clamp(16px, 1.6vw, 20px);
    font-style: normal;
    font-weight: 300;
    min-height: 0.00001vw;
    margin: 20px 0 0;
}

.hero-p {
    font-family: Bitter, serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.15em;
    margin: 0 0 1em;

}

.hero-bg{
    width: 100vw;
    position: absolute;
    z-index: -999;
}

.idosos{
    position: absolute;
    margin: 11vh 16vw;
}

.mockup{
    position: absolute;
    width: 25vw;
    height: 35vh;
    margin: 5vh 66vw;
}

.home{
    margin-top: 60vh;
}