*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 10px;
    
}
.navbar ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 250px;
    position: absolute;
    right: 8vw;
    
    
}

.navbar a{
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
}

.nav-logo{
    display: flex;
    margin: 1vh 8vw;
    width: 12vw;
    height: 8vh;
    
}