{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/account/register.css' %}">

<div id="register">
    <form method="post">
        {% csrf_token %}
        <img id="background" src="{% static 'media/login.svg' %}" alt="Background">
        <div class="wrapper">
            <h1>Create an account</h1>

            <button id="login-button" type="button" onclick="location.href='{% url 'users:login' %}'">Login</button>
            <div class="input-box">
                <input type="text" name="username" placeholder="Name" value="{{form.username.value}}" required>
            </div>
            <div class="input-box">
                <input type="text" name="email" placeholder="Email" value="{{form.email.value}}" required>
            </div>
            <div class="input-box">
                <input type="date" name="date_of_birth" placeholder="Date of birth" value="{{form.date_of_birth.value}}" required>
            </div> 
            <div class="input-box">
                <input type="text" name="health_card" placeholder="Health Card" value="{{form.health_card.value}}" required>
            </div>
            <div class="input-box">
                <input type="password" name="password" placeholder="Password" value="{{form.password1.value}}" required>
            </div>
            <div class="input-box">
                <input type="password" name="password2" placeholder="Repeat your password" value="{{form.password2.value}}" required>
            </div>
            <button id="register-button" type="submit"> Register </button>
        </div>
    </form>
</div>

{% endblock content %}
