<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MeddyBuddy{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>



<body class="{% if user.is_authenticated %} logged-in {% else %} logged-out {% endif %}">
        {% block content %}
        {% endblock %}
</body>
    {% if user.is_authenticated %}
<footer class="footer">
        <div class="images-footer">
            <a><img src="{% static 'media/footer/people_meddybuddy.svg' %}" alt="Family"></a>
            <a><img src="{% static 'media/footer/SOS_meddybuddy.svg' %}" alt="SOS"></a>
        </div>
        <a class="logout" href="{% url 'users:logout'%}"><img class="logout-btn" src={%static "media/footer/logout.svg"%}></a>
    
        <p> &copy; 2024 MeddyBuddy</p>
    
</footer>
{% endif %}

</html>
