<!-- my_app/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MeddyBuddy{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<header>
    <nav class="navbar">
            {% if user.is_authenticated %}
                <a class="profile">
                    <img class="profile_img" src="{% static 'media/profile.svg' %}" alt="Profile">
                </a>
                <a href="{% url 'medication_list'%}" class="view_meds">
                    <img class="view_meds_img" src="{% static 'media/view_meds.svg' %}" alt="View Meds" >
                </a>
                <a href="{% url 'add_medication'%}" class="edit_meds">
                    <img class="edit_meds_img"src="{% static 'media/edit_meds.svg' %}" alt="Add/Remove Meds">
                </a>
            {% else %}
                <a href="{% url 'users:login'%}">Login</a>
                <a href="{% url 'users:register'%}">Create account</a>
            {% endif %}
    </nav>
</header>  
<body>
    <div class="container">
        {% block content %}{% endblock %}
        
    </div>

    {% comment %} footer {% endcomment %}
    {% if user.is_authenticated %}
    <footer class="footer">
        <div class="images-footer">
            <a><img src="{% static 'media/people_meddybuddy.svg' %}" alt="Family"></a>

            <a><img src="{% static 'media/SOS_meddybuddy.svg' %}" alt="SOS"></a>
        </div>
        <a href="{% url 'users:logout'%}">Logout</a>
        <p> &copy; 2024 MeddyBuddy</p>
    </footer>
    {% else %}
    <a href="{% url 'login'%}">Login</a>
    <a href="{% url 'register'%}">Create account</a>
    {% endif %}
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
