{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/landing-page/style.css' %}">
<script src="{% static 'js/landing-page/script.js' %}"></script>

<div class="navbar">
    <img class="nav-logo" src="{% static "media/landing-page/logo.png" %}">
    <ul>
        <li><a class="login" href="{% url "users:login"%}">Login</a>
        <li><a class="register" href="{% url "users:register"%}">Register</a></li>
    </ul>
</div>
<section id="hero"> 
    <img class="hero-bg"src="{% static "media/landing-page/altos-baixos.svg"%}">
    <img class="idosos"src="{% static "media/landing-page/velhos-foto.svg" %}">
    <img class="mockup" src="{% static "media/landing-page/mockup-phone.svg"%}">
    <div class="hero">
        <p class="title-p">MEDDYBUDDY PILL MANAGEMENT SOFTWARE</p>
        <h1>The pillcare.<br>Everything conected.</h1>
        <p>Forward-thinking software for tomorrow's <br> elderly people.</p>
    </div>
</section>
<section id="content">
    <div id="content-text">
        <p class="title-p">THE PILLCARE IN ALDEIA</p>
        <h2> It's time to reinvent <br> homecare.</h2>
        <p>In portuguese, aldeia means vilage. And we believe it takes an aldeia - where providers carers and families work seamlessly together - to deliver the person-centred, high quality homecare our changing society urgently needs.</p>
        <a href={% url "users:register" %}>Find out more</a>
    </div>
    <div id="content-img">
        <img id="content-img-1" src={% static "media/landing-page/content-img-1.png" %}>
    </div>
</section>
<section id="advantages">
    <div class="advantages-text">
    <p class="title-p">THE MARKET VIEW</p>
    <h2>Homecare has a problem.</h2>
    <p>The latest data from Skills from Care (2022) shows a huge unmet need in our society.
        We believe technology can help tackle it, which is why we built MeddyBuddy.</p>
    </div>
    <div id="advantages-cards">
        <div class="card">
            <p style="text-align:center; font-size:48px"><strong><span style="color: #00a2b7">13.8 million</span></strong></p>
            <p style="text-align:center;"><strong><span>people will be aged over 65 in England by 2035</span></strong></p>
        </div>
        <div class="card">
            <p style="text-align:center; font-size:48px"><strong><span style="color: #00a2b7">480.000</span></strong></p>
            <p style="text-align:center;"><strong><span>extra carers needed to meet this extra demand</span></strong></p>
        </div>
        <div class="card">
            <p style="text-align:center; font-size:48px"><strong><span style="color: #00a2b7">13.2%</span></strong></p>
            <p style="text-align:center;"><strong><span>of care jobs unfilled in domiciliary care</span></strong></p>
        </div>
            
</section>
<footer>
    <div class="footer">
        <div class="footer-text">
            <p style="color:#ffffff; text-align:center;"class="title-p">THE MEDDYBUDDY TEAM</p>
            <h2>Meet the team behind the software:</h2>
            <p style="color:#ffffff"><strong>Afonso, Luis, Luka, Miguel, Sebastião </strong></p>
        </div>
    </div>
</footer>

{% endblock content %}


