{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/landing-page/style.css' %}">
<script src="{% static 'js/landing-page/script.js' %}"></script>

<div class="navbar">
    <img class="nav-logo" src="{% static "media/landing-page/logo.png" %}">
    <ul>
        <li><a class="login" href="{% url "users:login"%}">Login</a>
        <li><a class="register" href="{% url "users:register"%}">Register</a></li>
    </ul>
</div>
<div class="home">
    <h1>Welcome to MeddyBuddy</h1>
    <p>MeddyBuddy is a medication management system that helps you keep track of your medications and reminds you when to take them.</p>
    <p>With MeddyBuddy, you can:</p>
    <ul>
        <li>View your medications</li>
        <li>Add or remove medications</li>
        <li>Set reminders for when to take your medications</li>
    </ul>
</div>

{% endblock content %}


