{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/landing-page/style.css' %}">
<script src="{% static 'js/landing-page/script.js' %}"></script>

<div class="navbar">
    <img class="nav-logo" src="{% static "media/landing-page/logo.png" %}">
    <ul>
        <li><a class="login" href="{% url "users:login"%}">Login</a>
        <li><a class="register" href="{% url "users:register"%}">Register</a></li>
    </ul>
</div>
<section id="hero"> 
    <img class="hero-bg"src="{% static "media/landing-page/altos-baixos.svg"%}">
    <img class="idosos"src="{% static "media/landing-page/velhos-foto.svg" %}">
    <img class="mockup" src="{% static "media/landing-page/mockup-phone.svg"%}">
    <div class="hero">
        <p class="title-p">MEDDYBUDDY PILL MANAGEMENT SOFTWARE</p>
        <h1>The pillcare.<br>Everything conected.</h1>
        <p>Forward-thinking software for tomorrow's <br> elderly people.</p>
    </div>
</section>
<section id="content">
    <div id="content-text">
        <p class="title-p">THE PILLCARE IN ALDEIA</p>
        <h2> It's time to reinvent <br> homecare.</h2>
        <p>In portuguese, aldeia means vilage. And we believe it takes an aldeia - where providers carers and families work seamlessly together - to deliver the person-centred, high quality homecare our changing society urgently needs.</p>
        <a href={% url "users:register" %}>Find out more</a>
    </div>
    <div id="content-img">
        <img id="content-img-1" src={% static "media/landing-page/content-img-1.png" %}>
    </div>
</section>
<div class="home">
    <h1>Welcome to MeddyBuddy</h1>
    <p>MeddyBuddy is a medication management system that helps you keep track of your medications and reminds you when to take them.</p>
    <p>With MeddyBuddy, you can:</p>
    <ul>
        <li>View your medications</li>
        <li>Add or remove medications</li>
        <li>Set reminders for when to take your medications</li>
    </ul>
</div>

{% endblock content %}


